.sidebar {
    background-color: darkslateblue;
    flex: 1;
    border-right: 0.5px, solid, rgb(236, 223, 223);
    min-height: 100vh;
    background-color: white;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: rgb(166, 183, 201)
        }
    }

    hr {
        height: 0;
        border: 0.5px, solid, rgb(73, 109, 109);
    }

    .center {
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;


            .title{
                font-size: 10px;
                font-weight: bold;
                color: dodgerblue;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            
            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
            
                &:hover {
                    background-color: rgba(0, 185, 198, 0.678);
                }

                .icon {
                    font-size: 20px;
                    color: rgb(52, 123, 128);
                }

                span {
                    font-size: 13px;
                    font-weight: 600;
                    color: gray;
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid rgb(0, 120, 128);
            cursor: pointer;
        }
    }
}
